<h1 class="text text-primary bg-danger">Tên nước : {{ ten_nuoc }}</h1>
<h1>Thủ đô : {{ thu_do }}</h1>
<h1>Dân số: {{ dan_so }}</h1>
<h1>Vị trí : {{ vi_tri }}</h1>
<h1>Môn thể thao yêu thích : {{ mon_the_thao_yeu_thich }}</h1>
<h1><a href="/hanoi">Link to Hanoi page</a></h1>
<img src="{{ hinh_anh }}" alt="">
